<!-- BOARDS -->
<div id="boards" class="fuse-navy boards_wrapper ps">

    <div class="header pt-44 pt-md-88">
        <h1>Scrumboard App</h1>
    </div>

    <!-- BOARD LIST -->
    <div class="board-list board-list-layout">

        <!-- BOARD -->
        <!-- <div class="board-list-item" *ngFor="let board of boards">
            <mat-icon class="s-56">assessment</mat-icon>
            <div class="board-name">{{board.name}}</div>
        </div> -->
        <div class="board-list-item .board-list-item-layout">
        	<div class="board-name">ACME Frontend Application</div></div>
        <!-- / BOARD -->

        <!-- NEW BOARD BUTTON -->
        <div class="board-list-item add-new-board">
            <div class="board-name">Add new board</div>
        </div>
        <!-- / NEW BOARD BUTTON -->

    </div>
    <!-- / BOARD LIST -->
</div>
<!-- / BOARDS -->
