<!-- BOARDS -->
<div id="boards" class=" inner-scroll fuse-navy ps" fxLayout="column" fxLayoutAlign="start center" fxFlex>

    <div class="header pt-44 pt-md-88" fxLayout="row" fxLayoutAlign="center center" fxFlex="0 0 auto">
        <h1>Scrumboard App</h1>
    </div>

    <!-- BOARD LIST -->
    <div class="board-list" fxFlex="0 0 auto" fxLayout="row wrap" fxLayoutAlign="center center">

        <!-- BOARD -->
        <!-- *ngFor="let board of boards" -->
        <div class="board-list-item" fxLayout="column" fxLayoutAlign="center center">
        	<div class="board-name">ACME Frontend Application</div></div>
        <!-- / BOARD -->

        <!-- NEW BOARD BUTTON -->
        <div class="board-list-item add-new-board" fxLayout="column" fxLayoutAlign="center center">
            <div class="board-name">Add new board</div>
        </div>
        <!-- / NEW BOARD BUTTON -->

    </div>
    <!-- / BOARD LIST -->
</div>
<!-- / BOARDS -->
