<div class="inner-scroll auth_container auth_layout">
	<div class="auth_left_wrapper auth_left_wrapper_layout">
		<div class="auth_left_wrapper_logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/logos/drago.svg">
        </div>
		<div class="auth_left_wrapper_title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Welcome to the DRAGO!
        </div>
		<div class="auth_left_wrapper_description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat,
            vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.
        </div>
	</div>
	<div class="auth_right_wrapper ps" [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">
		<div class="auth_form">
			<div class="logo">
                <img src="assets/logos/drago.svg">
            </div>
			<div class="auth_form_title">LOGIN TO YOUR ACCOUNT</div>
			<form name="loginForm" [formGroup]="loginForm" novalidate>
				<mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" autocomplete="off">
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="!loginForm.get('email').hasError('required') && loginForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
				<mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type={{passwordType}} formControlName="password" autocomplete="off">
                    <span class="password_icon" *ngIf="loginForm.get('password').value" (click)="passwordVisibility()">
                        <i *ngIf="passwordType === 'text'" class="fa fa-eye" aria-hidden="true"></i>
                        <i *ngIf="passwordType === 'password'" class="fa fa-eye-slash" aria-hidden="true"></i>
                    </span>
                    <mat-error *ngIf="loginForm.get('password').hasError('required')">Password is required</mat-error>
                    <mat-error *ngIf="loginForm.get('password').hasError('minlength')">Minimum length 6</mat-error>
                </mat-form-field>
				<div class="form_bottom_block form_bottom_block_layout">
                    <mat-checkbox class="remember_me" aria-label="Remember Me">
                        Remember Me
                    </mat-checkbox>
					<a class="forgot_password" [routerLink]="['/forget-password']">
                        Forgot Password?
                    </a>
                </div>
				<button mat-flat-button class="submit_button btn-primary" aria-label="LOGIN" [disabled]="loginForm.invalid" (click)="login(loginForm)">
                    LOGIN
                </button>
			</form>
			<div class="auth_bottom_block auth_bottom_block_layout">
                <span class="text">Don't have an account?</span>
                <a class="link" [routerLink]="['/register']">Create an account</a>
            </div>
        </div>
    </div>
</div>
