<div class="inner-scroll auth_container auth_layout">
	<div class="auth_left_wrapper auth_left_wrapper_layout">
		<div class="auth_left_wrapper_logo">
            <img src="assets/logos/drago.svg" [@animate]="{value:'*',params:{scale:'0.2'}}" >
        </div>
		<div class="auth_left_wrapper_title"[@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Welcome to the DRAGO!
        </div>
		<div class="auth_left_wrapper_description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat,
            vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.
        </div>
    </div>
    <div class="auth_right_wrapper ps" [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">
		<div class="auth_form">
			<div class="logo">
                <img src="assets/logos/drago.svg">
            </div>
            <mat-horizontal-stepper labelPosition="bottom" #stepper>
                <mat-step [stepControl]="registerForm">
                    <div class="auth_form_title">Register</div>
        			<app-registerlevel1 (emiterForTimer)='emiterForTimer($event)'></app-registerlevel1>
                </mat-step>
                <mat-step [stepControl]="confirmationForm">
                    <div class="auth_form_title">Verify OTP</div>
                    <app-registerlevel2 [startTimer]="startTimer"></app-registerlevel2>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</div>