@import "../../../common_styles/headerlayout.css";

.user-area .dropdown-menu {
    border: 1px solid #e7e7e7;
    display: none;
  	position: absolute;
  	background-color: #f1f1f1;
  	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}
.user-area {
    padding-right: 0;
    position: relative;
    min-width: 129px;
    text-align: center;
    float: right;
    padding-top: 11px;
    padding-bottom: 14px;
}
.user-area .user-menu {
    background: #fff;
    border: none;
    left: inherit !important;
    right: 0;
    margin: 0;
    max-width: 150px;
    padding: 5px 10px;
    position: absolute;
    width: 100%;
    z-index: 999;
    min-width: 150px;
    right: 42px !important;
}
.user-area .user-menu .nav-link {
    color: #272c33;
    display: block;
    font-size: 13px;
    line-height: 22px;
    padding: 5px 0;
    cursor: pointer;
}
.user-area .user-avatar {
    margin-top: 0px;
    width: 34px;
}
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown .dropdown-toggle {
    background: transparent;
    border: none;
    color: #272c33;
    font-size: 16px;
}
.dropdown:hover .dropdown-menu{
	display: block;
}
.dropdown .dropdown-toggle:after {
    display: none;
}
.dropdown .dropdown-menu {
    background: rgba(255,255,255,0.95);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-color: #e7e7e7;
    -webkit-box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.01);
    -moz-box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.01);
    box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.01);
}

@media (max-width: 1210px) {
	.user-area {
        min-width: 82px;
    }
    .user-area .user-menu {
        right: 20px !important;
    }
}
.notification-show + .dropdown-menu {
    display: block;
}