<nav class="navbar navbar-expand-lg navbar-light navbar_custom show-on-scroll-2 bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/logos/drago.svg" alt="" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- for non logged in user -->
        <div *ngIf="!isLoggedIn" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#pricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-0">
                    <a mat-flat-button class="btn-primary navbar-btn ml-0 ml-lg-3" [routerLink]="['login']">Login</a>
                </li>
            </ul>
        </div>
        <!-- for logged in user -->
        <div *ngIf="isLoggedIn" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['projects']">Projects</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link" [routerLink]="['login']">Login</a>
                </li> -->
                <li class="nav-item mr-0 user-area dropdown">
                    <div class="dropdown-toggle">
                        <img class="user-avatar rounded-circle" src="assets/logos/logo.png" alt="User Avatar">
                    </div>
                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" (click)="logout()">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
