/*custom navbar start*/
.navbar {
    width: 100%;
    background: #fff;
}
.navbar .navbar-brand {
    padding: 0;
    margin-right: 30px;
    width: 32px;
    height: 32px;
}
.navbar .navbar-nav .nav-item {
    padding: 0;
    margin-right: 30px;
}
.navbar .navbar-nav .nav-item .nav-link {
    font-size: 14px;
    font-weight: 400;
}
.navbar .navbar-nav .nav-item .nav-link--register {
    padding: 8px 16px;
    background: #007aff;
    border-radius: 4px;
    color: #fff;
}
.navbar .navbar-nav .nav-item .nav-link--register:hover {
    background: #006ee6;
}
.navbar .dropdown-menu {
    border: none;
}
.navbar .dropdown-menu .dropdown-item {
    font-size: 14px;
    font-weight: 400;
    color: #666;
}
.navbar.animate {
    -webkit-animation: fadeInDown .3s ease-out forwards;
    animation: fadeInDown .3s ease-out forwards;
}
.navbar_custom {
    /*position: absolute;*/
    background-color: #efefef !important;
    border: 0;
    padding: 1.1rem 1rem;
    z-index: 9999;
}
.navbar_custom.animate {
    position: fixed;
    background-color: #fff!important;
    border-bottom: 1px solid #e0e0e0;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
}
@media (max-width:991.98px) {
    .navbar_custom {
        background: #fff!important;
        padding-top: 8px;
    }
}
/*custom navbar ends*/