<form name="registerForm" [formGroup]="registerForm" novalidate>
	<mat-form-field appearance="outline">
        <mat-label>Company name</mat-label>
        <input matInput formControlName="name" autocomplete="off">
        <mat-error *ngIf="registerForm.get('name').hasError('required')">
            Company name is required
        </mat-error>
    </mat-form-field>
	<mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" autocomplete="off">
        <mat-error *ngIf="registerForm.get('email').hasError('required')">
            Email is required
        </mat-error>
        <mat-error *ngIf="registerForm.get('email').hasError('email')">
            Please enter a valid email address
        </mat-error>
    </mat-form-field>
	<mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type={{passwordType}} formControlName="password" autocomplete="off">
        <span class="password_icon" *ngIf="registerForm.get('password').value" (click)="passwordVisibility('password')">
            <i *ngIf="passwordType === 'text'" class="fa fa-eye" aria-hidden="true"></i>
            <i *ngIf="passwordType === 'password'" class="fa fa-eye-slash" aria-hidden="true"></i>
        </span>
        <mat-error *ngIf="registerForm.get('password').hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="registerForm.get('password').hasError('minlength')">Minimum length 6</mat-error>
    </mat-form-field>
	<mat-form-field appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input matInput type={{confirmPasswordType}} formControlName="passwordConfirm" autocomplete="off">
        <span class="password_icon" *ngIf="registerForm.get('passwordConfirm').value" (click)="passwordVisibility('confirm_password')">
            <i *ngIf="confirmPasswordType === 'text'" class="fa fa-eye" aria-hidden="true"></i>
            <i *ngIf="confirmPasswordType === 'password'" class="fa fa-eye-slash" aria-hidden="true"></i>
        </span>
        <mat-error *ngIf="registerForm.get('passwordConfirm').hasError('required')">
            Password confirmation is required
        </mat-error>
        <mat-error *ngIf="!registerForm.get('passwordConfirm').hasError('required') && registerForm.get('passwordConfirm').hasError('passwordsNotMatching')">
            Passwords must match
        </mat-error>
    </mat-form-field>
	<div class="form_bottom_block" fxLayout="row" fxLayoutAlign="center center">
        <mat-checkbox formControlName="terms" name="terms" aria-label="Accept" required>
            <span>Accept <a href="#">terms and conditions</a></span>
        </mat-checkbox>
    </div>
	<button mat-flat-button matStepperNext class="submit_button btn-primary" aria-label="CREATE AN ACCOUNT" [disabled]="registerForm.invalid" (click)="getOtp()">
        CREATE AN ACCOUNT
    </button>
</form>
<div class="auth_bottom_block" fxLayout="column" fxLayoutAlign="center center">
    <span class="text">Already have an account?</span>
    <a class="link" [routerLink]="['/login']">Login</a>
</div>
