<form name="registerForm" [formGroup]="registerForm" novalidate>
	<mat-form-field appearance="outline">
        <mat-label>Company name</mat-label>
        <input matInput formControlName="name" autocomplete="off">
        <mat-error *ngIf="registerForm.get('name').hasError('required')">
            Company name is required
        </mat-error>
    </mat-form-field>
	<mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" autocomplete="off">
        <mat-error *ngIf="registerForm.get('email').hasError('required')">
            Email is required
        </mat-error>
        <mat-error *ngIf="registerForm.get('email').hasError('email')">
            Please enter a valid email address
        </mat-error>
    </mat-form-field>
	<mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type={{passwordType}} formControlName="password" autocomplete="off">
        <mat-icon *ngIf="registerForm.get('password').value" matSuffix class="secondary-text cursor_layout" (click)="passwordVisibility('password')">
            <span *ngIf="passwordType === 'text'">remove_red_eye</span>
            <span *ngIf="passwordType === 'password'">vpn_key</span>
        </mat-icon>
        <mat-error *ngIf="registerForm.get('password').hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="registerForm.get('password').hasError('minlength')">Minimum length 6</mat-error>
    </mat-form-field>
	<mat-form-field appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input matInput type={{confirmPasswordType}} formControlName="passwordConfirm" autocomplete="off">
        <mat-icon *ngIf="registerForm.get('passwordConfirm').value" matSuffix class="secondary-text cursor_layout" (click)="passwordVisibility('confirm_password')">
            <span *ngIf="confirmPasswordType === 'text'">remove_red_eye</span>
            <span *ngIf="confirmPasswordType === 'password'">vpn_key</span>
        </mat-icon>
        <mat-error *ngIf="registerForm.get('passwordConfirm').hasError('required')">
            Password confirmation is required
        </mat-error>
        <mat-error *ngIf="!registerForm.get('passwordConfirm').hasError('required') && registerForm.get('passwordConfirm').hasError('passwordsNotMatching')">
            Passwords must match
        </mat-error>
    </mat-form-field>
	<div class="form_bottom_block form_bottom_block_layout">
        <mat-checkbox formControlName="terms" name="terms" aria-label="Accept" required>
            <span>Accept <a href="#">terms and conditions</a></span>
        </mat-checkbox>
    </div>
	<button mat-flat-button matStepperNext color="accent" class="submit_button" aria-label="CREATE AN ACCOUNT" [disabled]="registerForm.invalid" (click)="getOtp()">
        CREATE AN ACCOUNT
    </button>
</form>
