<div class="inner-scroll auth_container auth_layout">
	<div class="auth_left_wrapper auth_left_wrapper_layout">
		<div class="auth_left_wrapper_logo">
            <img src="assets/logos/drago.svg">
        </div>
		<div class="auth_left_wrapper_title">
            Welcome to the DRAGO!
        </div>
		<div class="auth_left_wrapper_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat,
            vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.
        </div>
	</div>
	<div id="auth_right_wrapper ps">
		<div id="auth_form">
			<div class="logo">
                <img src="assets/logos/drago.svg">
            </div>
			<div class="auth_form_title">RECOVER YOUR PASSWORD</div>
			<form name="forgoPasswordForm" [formGroup]="forgotPasswordForm" novalidate>
				<mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
				<button mat-flat-button class="submit_button" color="accent" aria-label="SEND RESET LINK" [disabled]="forgotPasswordForm.invalid">
                    SEND RESET LINK
                </button>
			</form>
			<div class="auth_bottom_block auth_bottom_block_layout">
                <a class="link" [routerLink]="['/login']">Go back to login</a>
            </div>

        </div>
    </div>
</div>
