<nav class="navbar navbar-expand-lg navbar-light navbar_custom show-on-scroll-2 fixed-top bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/logos/drago.svg" alt="" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#pricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['login']">Login</a>
                </li>
                <li class="nav-item mr-0">
                    <a class="nav-link nav-link--register" [routerLink]="['register']">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main id="home" class="hero hero--9 hero--bg">
    <div class="container">
        <div class="row d-flex align-items-center match-height">
            <div class="col-lg-6 hero__left">
                <h1 class="title">How Chatbot Will Save Your Time</h1>
                <p class="lead">Quod quidem iam fit etiam in Academia. Quando enim Socrates, qui parens.</p>
                <div class="row">
                    <div class="col-lg-11">
                        <form action="#" class="hero__form pr-0 pr-lg-5">
                            <div class="form-group">
                                <input type="text" class="form-control form-control--lg" placeholder="mail@company.com">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control--lg" placeholder="Johnny Doe">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control--lg" placeholder="5+ Characters">
                            </div>
                            <div class="form-group mb-0">
                                <button class="btn btn--primary btn--lg w-100" type="submit">Be The First Notified</button>
                            </div>
                            <small class="form__disclaimer">
                                By submitting this form I agree to Company Terms.
                            </small>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero__illustration">
        <img src="assets/img/illustration-15.png" alt="">
    </div>
    <div class="hero__subtle-radius"></div>
</main>

<section id="features" class="section section--padding features features--4">
    <div class="container">
        <div class="row">
            <div class="preamble col-lg-8 offset-lg-2 text-center">
                <h2 class="h2 title">What Everyone Must Know.</h2>
                <p class="lead">Et hunc idem dico, inquieta sed ad virtutes et ad vitia nihil interesse. Quis animo aequo videt eum, quem.</p>
            </div>
        </div>
        <div class="row">
            <div class="feature col-md-4 mb-5 mb-md-0">
                <img src="assets/img/illustration-7.png" alt="" class="feature__illustration img-fluid">
                <h4>24/7 Real Support</h4>
                <p>Feature creep going forward you better eat a reality sandwich before you walk back in that boardroom.</p>
            </div>
            <div class="feature col-md-4 mb-5 mb-md-0">
                <img src="assets/img/illustration-8.png" alt="" class="feature__illustration img-fluid">
                <h4>SSL Domain</h4>
                <p>Can you ballpark the cost per unit for me accountable talk bells and whistles, so goalposts for where.</p>
            </div>
            <div class="feature col-md-4">
                <img src="assets/img/illustration-9.png" alt="" class="feature__illustration img-fluid">
                <h4>Wordpress One Click</h4>
                <p>We want to see more charts streamline, or we need to build it so that it scales marketing computer.</p>
            </div>
        </div>
    </div>
</section>

<section id="about" class="section section--padding tour tour--8">
    <div class="container">
        <div class="row">
            <div class="preamble col-lg-8 offset-lg-2 text-center">
                <h2 class="h2 title">Developer friendly</h2>
                <p class="lead">Ita redarguitur ipse a sese, convincunturque scripta eius probitate ipsius ac moribus. Age nunc isti. Non minor, inquit, voluptas percipitur.</p>
            </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-xl-5 col-lg-6 order-2 order-lg-1">
                <ul class="features-list list-unstyled mb-0 pr-5">
                    <li class="d-flex">
                        <i class="icon icon-Wifi-2 icon--md"></i>
                        <div class="ml-4">
                            <h5>Secured Clouds</h5>
                            <p>Shoot me an email we've got to manage that low hanging fruit that jerk. Powerpoint Bunny we need distributors to evangelize.</p>
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="icon icon-SSL icon--md"></i>
                        <div class="ml-4">
                            <h5>SSL Domain Certificate</h5>
                            <p>Can you ballpark the cost per unit for me accountable talk bells and whistles, so goalposts for where the metal hits.</p>
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="icon icon-Wordpress icon--md"></i>
                        <div class="ml-4">
                            <h5>Wordpress One Click</h5>
                            <p>We want to see more charts streamline, or we need to build it so that it scales marketing computer development.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xl-6 col-lg-6 order-1 order-lg-2">
                <img src="assets/img/illustration-10.png" alt="" class="img-fluid mb-5 mb-lg-0">
            </div>
        </div>
    </div>
</section>

<section class="section section--padding tour tour--8">
    <div class="container">
        <div class="row">
            <div class="preamble col-lg-8 offset-lg-2 text-center">
                <h2 class="h2 title">Always Connected to Your Team</h2>
                <p class="lead">Ita redarguitur ipse a sese, convincunturque scripta eius probitate ipsius ac moribus. Age nunc isti. Non minor, inquit, voluptas percipitur. Ita nunc isti doceant ipse a sese.</p>
            </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-lg-8">
                <img src="assets/img/illustration-12.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section id="pricing" class="section section--full-padding pricing pricing--1">
    <div class="container">
        <div class="row">
            <div class="preamble col-lg-8 offset-lg-2 text-center">
                <h2 class="h2 title">Simple Pricing</h2>
                <p class="lead"> Hamburger t-bone biltong chuck beef aliquip nisi sed ad duis. Pork chop fatback nulla drumstick. Short ribs.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-xl-12">
                <div class="row no-gutters">
                    <div class="col-lg-3">
                        <div class="pricing-option">
                            <header class="pricing-option__header">
                                <i class="icon icon-Tree-2"></i>
                                <h5>Solo</h5>
                                <h3 class="price d-flex justify-content-center">Free</h3>
                            </header>
                            <ul class="pricing-option__list list-unstyled">
                                <li>1 Website</li>
                                <li>10 MySQL Database</li>
                                <li>5 FTP User</li>
                                <li class="disabled">100 Email Account</li>
                                <li class="disabled">Unlimited Website Builder</li>
                                <li class="disabled">Unlimited Control Panel</li>
                                <li class="disabled">User Friendly Manager</li>
                            </ul>
                            <div class="text-center">
                                <a class="btn btn--primary" href="#">Get Started Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="pricing-option">
                            <header class="pricing-option__header">
                                <i class="icon icon-Business-Man"></i>
                                <h5>Basic</h5>
                                <h3 class="price d-flex justify-content-center"><span>$</span>9.99</h3>
                            </header>
                            <ul class="pricing-option__list list-unstyled">
                                <li>1 Website</li>
                                <li>10 MySQL Database</li>
                                <li>5 FTP User</li>
                                <li>100 Email Account</li>
                                <li class="disabled">Unlimited Website Builder</li>
                                <li class="disabled">Unlimited Control Panel</li>
                                <li class="disabled">User Friendly Manager</li>
                            </ul>
                            <div class="text-center">
                                <a class="btn btn--primary" href="#">Get Started Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="pricing-option pricing-option--shadow">
                            <header class="pricing-option__header">
                                <i class="icon icon-Business-ManWoman"></i>
                                <h5>Advanced</h5>
                                <h3 class="price d-flex justify-content-center"><span>$</span>29.99</h3>
                            </header>
                            <ul class="pricing-option__list list-unstyled">
                                <li>10 Websites</li>
                                <li>50 MySQL Database</li>
                                <li>15 FTP User</li>
                                <li>500 Email Account</li>
                                <li>Unlimited Website Builder</li>
                                <li class="disabled">Unlimited Control Panel</li>
                                <li class="disabled">User Friendly Manager</li>
                            </ul>
                            <div class="text-center">
                                <a class="btn btn--primary" href="#">Get Started Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="pricing-option pricing-option--last">
                            <header class="pricing-option__header">
                                <i class="icon icon-Business-Mens"></i>
                                <h5>Enterprise</h5>
                                <h3 class="price d-flex justify-content-center"><span>$</span>49.99</h3>
                            </header>
                            <ul class="pricing-option__list list-unstyled">
                                <li>Unlimited Websites</li>
                                <li>200 MySQL Database</li>
                                <li>50 FTP User</li>
                                <li>1000 Email Account</li>
                                <li>Unlimited Website Builder</li>
                                <li>Unlimited Control Panel</li>
                                <li>User Friendly Manager</li>
                            </ul>
                            <div class="text-center">
                                <a class="btn btn--primary" href="#">Get Started Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="faq" class="section section--full-padding section--gradient-4 faq faq--3">
    <div class="container">
        <div class="row">
            <div class="preamble col-lg-7">
                <h2 class="h2 title">Most Popular Questions</h2>
                <p class="lead pl-0">Hamburger t-bone biltong chuck beef aliquip nisi sed ad duis. Pork chop fatback nulla drumstick. Short ribs.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    My team has credits. How do we use them?
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    We need to add new users to our team.
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Get more information on billing at Slack.
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    What are my payment options: Credit card?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <img class="faq_illustration_img" src="assets/img/illustration-11.png">
    </div>
</section>

<section id="cta" class="cta cta--2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cta__inner d-block d-lg-flex align-items-center">
                    <h4 class="title">Start using Posty for free!</h4>
                    <form action="#" class="cta__form d-block d-sm-flex ml-auto">
                        <input type="text" placeholder="Work Email Address" class="form-control form-control--lg">
                        <button class="btn btn--primary">Get Posty</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="footer footer--3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-5">
                <div class="d-flex align-items-center mb-4">
                    <img src="assets/img/logo.svg" alt="" class="footer__logo mr-3">
                    <h4 class="mb-0">Posty</h4>
                </div>
                <p>
                    Copyright © 2018 Posty. All Rights Reserved.<br>
                    +48 123 456 7890<br>
                    support@posty.app
                </p>
                <ul class="list-unstyled footer__social d-flex">
                    <li><a href="#"><i class="socicon socicon-facebook icon"></i></a></li>
                    <li><a href="#"><i class="socicon socicon-twitter icon"></i></a></li>
                    <li><a href="#"><i class="socicon socicon-google icon"></i></a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4">
                <h5>Company</h5>
                <ul class="list-unstyled footer__navi">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Locations</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Work with Us</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4">
                <h5>Developers</h5>
                <ul class="list-unstyled footer__navi">
                    <li><a href="#">Github</a></li>
                    <li><a href="#">Developer Kit</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4">
                <h5>Support</h5>
                <ul class="list-unstyled footer__navi">
                    <li><a href="#">New Ticket</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Get in Touch</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

