<app-header></app-header>
<main id="home" class="main_section">
    <div class="container mb-5">
        <div class="row align-items-center">
            <div class="col-lg-6 main_section_left">
                <h1 class="title mb-0">Move work <br> forward</h1>
                <div class="row">
                    <div class="col-lg-10">
                        <p class="description lead text-muted mt-4 mb-4">Lorem ipsum dolor sit amet, consectetur. Eiusmod tempor incididunt.</p>
                    </div>
                </div>
                <form action="#" class="subscription_form">
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Name@company.com" class="form-control">
                        <a mat-flat-button class="btn-primary" [routerLink]="['register']">Get Started</a>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 main_section_right">
                <img src="assets/img/main_section_right.svg" alt="" class="main_section_right_image img-fluid d-none d-lg-block">  
            </div>
        </div>
    </div>
</main>

<section id="features" class="section1">
    <div class="container">
        <div class="text-center">
            <h2>Track projects from start to finish </h2>
            <p class="lead text-muted mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
            <a href="#" mat-flat-button class="btn-primary">Learn More</a>
        </div>
        <div class="row">
            <div class="col-lg-7 mx-auto mt-5">
                <img src="assets/img/section1.svg" alt="" class="intro-image img-fluid">
            </div>
        </div>
    </div>
</section>

<section id="about" class="section2 primary_bg text-white">
    <div class="container">
        <div class="text-center">
            <h2>Do great things together</h2>
            <div class="row">
                <div class="col-lg-9 mx-auto">
                    <p class="lead text-white mt-2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. eiusmod tempor incididunt ut labore et dolore.
                    </p>
                </div>
            </div>
            <a href="#" mat-stroked-button class="btn-outline-light">Learn More</a>
        </div>
    </div>
</section>

<section class="section3">
    <div class="container">
        <div class="text-center">
            <h2>Integrations</h2>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <p class="lead text-muted mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod. eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
        </div>
        <div class="integrations mt-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="box text-center">
                        <div class="icon d-flex align-items-end">
                            <img src="assets/img/monitor.svg" alt="" class="img-fluid">
                        </div>
                        <h3 class="h4">Web desgin</h3>
                        <p class="text-small font-weight-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box text-center">
                        <div class="icon d-flex align-items-end">
                            <img src="assets/img/monitor.svg" alt="" class="img-fluid">
                        </div>
                        <h3 class="h4">Web desgin</h3>
                        <p class="text-small font-weight-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box text-center">
                        <div class="icon d-flex align-items-end">
                            <img src="assets/img/monitor.svg" alt="" class="img-fluid">
                        </div>
                        <h3 class="h4">Web desgin</h3>
                        <p class="text-small font-weight-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box text-center">
                        <div class="icon d-flex align-items-end">
                            <img src="assets/img/monitor.svg" alt="" class="img-fluid">
                        </div>
                        <h3 class="h4">Web desgin</h3>
                        <p class="text-small font-weight-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box text-center">
                        <div class="icon d-flex align-items-end">
                            <img src="assets/img/monitor.svg" alt="" class="img-fluid">
                        </div>
                        <h3 class="h4">Web desgin</h3>
                        <p class="text-small font-weight-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box text-center">
                        <div class="icon d-flex align-items-end">
                            <img src="assets/img/monitor.svg" alt="" class="img-fluid">
                        </div>
                        <h3 class="h4">Web desgin</h3>
                        <p class="text-small font-weight-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="pricing" class="section4 bg-gray">
    <div class="container">
        <div class="text-center">
            <h2>Trusted by teams everywhere</h2>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <p class="lead text-muted mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. sed do eiusmod tempor incididunt..</p>
                </div>
            </div>
        </div>
        <div class="clients mt-5">
            <div class="row">
                <div class="col-lg-2">
                    <img src="assets/img/client-1.svg" alt="" class="client-image img-fluid">
                </div>
                <div class="col-lg-2">
                    <img src="assets/img/client-2.svg" alt="" class="client-image img-fluid">
                </div>
                <div class="col-lg-2">
                    <img src="assets/img/client-3.svg" alt="" class="client-image img-fluid">
                </div>
                <div class="col-lg-2">
                    <img src="assets/img/client-4.svg" alt="" class="client-image img-fluid">
                </div>
                <div class="col-lg-2">
                    <img src="assets/img/client-5.svg" alt="" class="client-image img-fluid">
                </div>
                <div class="col-lg-2">
                    <img src="assets/img/client-6.svg" alt="" class="client-image img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="faq" class="section5">
    <div class="container">
        <div class="text-center">
            <h2>Curious how Appton works for <br>large organizations?</h2>
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                    <p class="lead text-muted mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod. Eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
            <a href="#" mat-flat-button class="btn-primary mt-4">Get Started</a>
        </div>
    </div>
</section>

<section id="cta" class="section6 bg-gray">
    <div class="container text-center text-lg-left">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <h2 class="divider-heading">Curious how Appton <br>works for large</h2>
                <div class="row">
                    <div class="col-lg-10">
                        <p class="lead divider-subtitle mt-2 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing. Vitae animi mollitia cumque sunt soluta. consectetur adipisicing.</p>
                    </div>
                    <a href="#" mat-flat-button class="btn-primary">Learn More</a>
                </div>
            </div>
            <div class="col-lg-5 mt-5 mt-lg-0">
                <img src="assets/img/illustration-2.svg" alt="" class="divider-image img-fluid">
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="main-footer">
    <div class="container">
        <div class="row">
                <div class="col-lg-3 mb-5 mb-lg-0">
                    <div class="footer-logo">
                        <img src="assets/img/logo-footer.svg" alt="..." class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-3 mb-5 mb-lg-0">
                    <h5 class="footer-heading">Site pages</h5>
                    <ul class="list-unstyled">
                        <li> <a href="#" class="footer-link">Home</a></li>
                        <li> <a href="#" class="footer-link">FAQ</a></li>
                        <li> <a href="#" class="footer-link">Contact</a></li>
                        <li> <a href="#" class="footer-link">Text Page</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 mb-5 mb-lg-0">
                    <h5 class="footer-heading">Product</h5>
                    <ul class="list-unstyled">
                        <li> <a href="#" class="footer-link">Why Appton?</a></li>
                        <li> <a href="#" class="footer-link">Enterprise</a></li>
                        <li> <a href="#" class="footer-link">Blog</a></li>
                        <li> <a href="#" class="footer-link">Pricing</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h5 class="footer-heading">Resources</h5>
                    <ul class="list-unstyled">
                    <li> <a href="#" class="footer-link">Download</a></li>
                    <li> <a href="#" class="footer-link">Help Center</a></li>
                    <li> <a href="#" class="footer-link">Guides</a></li>
                    <li> <a href="#" class="footer-link">Partners</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left">
                    <p class="copyrights-text mb-3 mb-lg-0">© All rights reserved. Appton.co. Design by <a href="https://bootstrapious.com/landing-pages" class="external footer-link">Bootstrapious </a></p>
                </div>
                <div class="col-lg-6 text-center text-lg-right">
                    <ul class="list-inline social mb-0">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook"></i></a><a href="#" class="social-link"><i class="fa fa-twitter"></i></a><a href="#" class="social-link"><i class="fa fa-youtube-play"></i></a><a href="#" class="social-link"><i class="fa fa-vimeo"></i></a><a href="#" class="social-link"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
</footer>

