.hero--1 .hero__right:before, .hero--3:before, .video-thumbnail__btn:before {
    content: ''}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #869791;
    color: #FFF;
    text-decoration: none;
}
.owl-theme .owl-nav .disabled {
    opacity: .5;
    cursor: default;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
}
.owl-theme .owl-dots {
    text-align: center;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #869791;
}
a, body {
    color: #8e8e93;
}
.h1, h1 {
    font-size: 64px;
    line-height: 1.09;
    font-weight: 600;
}
@media (max-width:1199.98px) {
    .h1, h1 {
    font-size: 56px;
    line-height: 1;
}
}@media (max-width:991.98px) {
    .h1, h1 {
    font-size: 52px;
    line-height: 1;
}
}@media (max-width:767.98px) {
    .h1, h1 {
    font-size: 46px;
}
}.h2, h2 {
    font-size: 48px;
    line-height: 1.05;
}
@media (max-width:991.98px) {
    .h2, h2 {
    font-size: 38px;
    line-height: 1.16;
}
}@media (max-width:767.98px) {
    .h2, h2 {
    font-size: 32px;
    line-height: 1.2;
}
}.h3, h3 {
    font-size: 32px;
    line-height: 1.06;
}
@media (max-width:991.98px) {
    .h3, h3 {
    font-size: 26px;
    line-height: 1.17;
}
}@media (max-width:767.98px) {
    .h3, h3 {
    font-size: 22px;
    line-height: 1.2;
}
}.h4, h4 {
    font-size: 26px;
    line-height: 1.38;
}
@media (max-width:991.98px) {
    .h4, h4 {
    font-size: 22px;
    line-height: 1.4;
}
}@media (max-width:767.98px) {
    .h4, h4 {
    font-size: 18px;
    line-height: 1.45;
}
}.h5, h5 {
    font-size: 19px;
    line-height: 1.47;
}
@media (max-width:991.98px) {
    .h5, h5 {
    font-size: 18px;
    line-height: 1.5;
}
}@media (max-width:767.98px) {
    .h5, h5 {
    font-size: 17px;
    line-height: 1.5;
}
}.lead {
    font-size: 26px;
    line-height: 1.38;
}
.title, h1, h2, h3, h4, h5, h6 {
    color: #202020;
}
.title {
    margin: 0 auto 16px;
}
.title--white {
    color: #fff;
}
.lead--white {
    color: rgba(255, 255, 255, .85);
}
.preamble {
    margin-bottom: 80px;
}
@media (max-width:991.98px) {
    .lead {
    font-size: 19px;
    line-height: 1.47;
}
.preamble {
    margin-bottom: 60px;
}
}.preamble--white .title {
    color: #fff;
}
.preamble--white .lead {
    color: rgba(255, 255, 255, .85);
}
.preamble>.lead {
    padding: 0 40px;
}
.preamble>.lead:last-child {
    margin-bottom: 0;
}
@media (max-width:991.98px) {
    .preamble>.lead {
    padding: 0 20px;
}
}@media (max-width:767.98px) {
    .lead {
    font-size: 17px;
    line-height: 1.5;
}
.preamble>.lead {
    padding: 0;
}
}.btn {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 32px;
    text-decoration: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 0;
    border-radius: 5px;
    outline: 0;
    font-weight: 500;
    letter-spacing: -.5px;
    font-size: 19px;
    line-height: 1.47;
}
@media (max-width:991.98px) {
    .btn {
    font-size: 17px;
    line-height: 1.4;
}
}.btn--primary {
    background-color: #007aff;
    color: #fff;
}
.btn--primary:hover {
    background-color: #006ee6;
    color: #fff;
}
.btn--outline_white {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, .2);
}
.btn--outline_white:hover {
    background: #fff;
    color: #202020;
}
.market-btn {
    height: 50px;
}
.icon--bg {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 20px;
    background: #f5f5f5;
}
.icon--bg>i {
    font-size: 3rem;
    color: #202020;
}
.icon--md {
    font-size: 2rem;
}
.video-thumbnail__btn {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #fff;
    width: 104px;
    height: 104px;
    cursor: pointer;
    z-index: 2;
}
.video-thumbnail__btn:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 12px;
    border-color: transparent transparent transparent #202020;
    margin-top: -3px;
}
.form-control--lg, select.form-control.form-control--lg:not([size]):not([multiple]) {
    padding-left: 15px;
    height: 50px;
}
@media (max-width:991.98px) {
    .form-control--lg, select.form-control.form-control--lg: not([size]):not([multiple]) {
    height: 45px;
}
}.btn--lg {
    height: 50px;
}
@media (max-width:991.98px) {
    .btn--lg {
    height: 45px;
}
}.form__disclaimer {
    margin-top: 20px;
    display: block;
}
select {
    text-indent: .4rem;
}
label {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: #202020;
}
.navbar {
    width: 100%;
    background: #fff;
}
@media (min-width:576px) and (max-width:991.98px) {
    .navbar .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
.navbar .navbar-brand {
    padding: 0;
    margin-right: 64px;
    width: 32px;
    height: 32px;
}
.footer--2 .footer__logo, .footer--3 .footer__logo {
    height: 45px;
}
.navbar .navbar-nav .nav-item {
    padding: 0;
    margin-right: 48px;
}
.navbar .navbar-nav .nav-item .nav-link {
    font-size: 14px;
    font-weight: 400;
}
.navbar .navbar-nav .nav-item .nav-link--cta {
    padding: 8px 16px;
    background: #007aff;
    border-radius: 4px;
    color: #fff;
}
.navbar .navbar-nav .nav-item .nav-link--cta:hover {
    background: #006ee6;
}
.navbar .dropdown-menu {
    border: none;
}
.navbar--1, .navbar--2 {
    background-color: #fff!important;
    border-bottom: 1px solid #e0e0e0;
}
.navbar .dropdown-menu .dropdown-item {
    font-size: 14px;
    font-weight: 400;
    color: #666;
}
.features--1 .feature p, .features--3 .feature p {
    font-weight: 600;
    font-size: 17px;
    color: #202020;
    margin-top: 20px;
}
.navbar.animate {
    -webkit-animation: fadeInDown .3s ease-out forwards;
    animation: fadeInDown .3s ease-out forwards;
}
.navbar--2 {
    padding-top: 9px;
}
.navbar--3 {
    position: absolute;
    padding-top: 20px;
    background-color: transparent!important;
    border: 0;
}
.navbar--3.animate {
    position: fixed;
    padding-top: 8px;
    background-color: #fff!important;
    border-bottom: 1px solid #e0e0e0;
}
.navbar--3.animate .nav-item .nav-link {
    color: rgba(34, 34, 34, .5)!important;
}
.navbar--3.animate .nav-item .nav-link--cta {
    color: #fff!important;
}
@media (max-width:991.98px) {
    .navbar--3 {
    background: #fff!important;
    padding-top: 8px;
}
}@media (min-width:992px) {
    .navbar--3 .nav-item .nav-link {
    color: #fff!important;
}
}.navbar--4 {
    position: absolute;
    padding-top: 20px;
    background-color: transparent!important;
    border: 0;
}
.navbar--4.animate {
    position: fixed;
    padding-top: 8px;
    background-color: #fff!important;
    border-bottom: 1px solid #e0e0e0;
}
@media (max-width:991.98px) {
    .navbar--4 {
    background: #fff!important;
    padding-top: 8px;
}
}.navbar--transparent {
    background: 0 0!important;
}
.section--padding {
    padding: 120px 0 0;
}
@media (max-width:991.98px) {
    .section--padding {
    padding: 80px 0 0;
}
}@media (max-width:767.98px) {
    .section--padding {
    padding: 60px 0 0;
}
}.section--full-padding {
    padding: 120px 0;
}
@media (max-width:991.98px) {
    .section--full-padding {
    padding: 80px 0;
}
}@media (max-width:767.98px) {
    .section--full-padding {
    padding: 60px 0;
}
}.section--gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f5f5f5));
    background: linear-gradient(#fff, #f5f5f5);
}
.hero--6, .section--gradient-2 {
    background: -webkit-gradient(linear, left top, left bottom, from(#050145), to(#7422a8));
}
.section--gradient-2 {
    background: linear-gradient(to bottom, #050145 0, #7422a8 100%);
}
.section--gradient-3 {
    background: -webkit-gradient(linear, left top, left bottom, from(#14014d), to(#1a3f96));
    background: linear-gradient(to bottom, #14014d 0, #1a3f96 100%);
}
.section--gradient-4 {
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#f1f5fd));
    background: linear-gradient(to bottom, #FFF 0, #f1f5fd 100%);
}
.footer--1, .footer--2 {
    border-top: 1px solid #fff;
    background: #f5f5f5;
}
.footer--1 {
    padding: 80px 0;
}
@media (max-width:991.98px) {
    .footer--1 {
    padding: 60px 0;
}
}.footer--1 .footer__navi li, .footer--1 .footer__social li {
    padding: 0 15px;
}
.footer--1 .footer__social {
    margin-bottom: 40px;
}
.footer--1 .footer__social li .icon {
    font-size: 1.7rem;
}
.footer--1 .footer__copyrights, .footer--2 .footer__copyrights {
    margin-bottom: 0;
    font-size: 14px;
}
.footer--2 {
    padding: 80px 0;
}
.footer--2 .footer__navi li {
    padding: 4px 0;
    display: block;
}
.footer--2 .footer__copyrights {
    margin-top: 40px;
}
.footer--3 {
    padding: 80px 0 60px;
}
.footer--3 .footer__social {
    margin-top: 20px;
}
@media (max-width:767.98px) {
    .footer--3 .footer__social {
    margin-bottom: 40px;
}
}.footer--3 .footer__social li {
    padding: 0 10px;
}
.footer--3 .footer__social li:first-child {
    padding-left: 0;
}
.footer--3 .footer__social li .icon {
    font-size: 1.2rem;
    color: #222;
}
.footer--3 .footer__navi li {
    padding: 5px 0;
    display: block;
}
.hero .lead {
    margin-bottom: 32px;
}
.hero--1 {
    padding: 160px 0 0;
}
@media (max-width:991.98px) {
    .hero--1 {
    padding-top: 120px;
}
.hero--1 .hero__left {
    margin-bottom: 60px;
}
}@media (max-width:767.98px) {
    .hero--1 {
    padding-top: 100px;
}
}.hero--1 .hero__left {
    position: relative;
    z-index: 1;
}
.hero--1 .hero__left .title {
    margin-top: -140px;
}
.hero--1 .hero__left .hero__form {
    padding: 0 40px;
}
.hero--1 .hero__left .hero__form input {
    margin-right: 20px;
}
@media (max-width:767.98px) {
    .hero--1 .hero__left .hero__form input {
    margin-right: 0;
}
}.hero--1 .hero__right {
    position: relative;
}
.hero--1 .hero__right:before {
    position: absolute;
    top: 0;
    right: -25%;
    bottom: 0;
    left: -25%;
    background-image: radial-gradient(ellipse at bottom, #eaeaea, #fff 50%);
    z-index: 0;
}
@media (max-width:991.98px) {
    .hero--1 .hero__left .title {
    margin-top: 0;
}
.hero--1 .hero__right:before {
    right: 0;
    left: 0;
}
}.hero--1 .hero__right .hero__iphone-hand {
    position: relative;
    z-index: 1;
    width: 90%}
.hero--1 .hero__right .hero__iphone-video {
    position: relative;
    margin-bottom: 0;
}
.hero--1 .hero__right .hero__iphone-video video {
    position: absolute;
    top: 0;
    margin-top: 16px;
    right: 169px;
    height: 513px;
    z-index: 1;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 24px;
}
.hero--2, .hero--3 {
    position: relative;
}
@media (max-width:1199.98px) {
    .hero--1 .hero__right .hero__iphone-video video {
    margin-top: 13px;
    height: 428px;
    right: 141px;
    border-radius: 20px;
}
}@media (max-width:991.98px) {
    .hero--1 .hero__right .hero__iphone-video video {
    margin-top: 17px;
    height: 542px;
    margin-right: 37px;
    border-radius: 26px;
}
}@media (max-width:767.98px) {
    .hero--1 .hero__right .hero__iphone-video video {
    margin-top: 15px;
    height: 482px;
    margin-right: 19px;
    border-radius: 22px;
}
}.hero--2 {
    height: 100vh;
    min-height: 720px;
}
@media (max-width:991.98px) {
    .hero--2 {
    padding-top: 80px;
    height: auto;
}
}.hero--2 .hero__logo {
    margin-bottom: 32px;
    width: 80px;
    height: 80px;
}
.hero--2 .lead {
    margin-bottom: 60px;
}
@media (max-width:767.98px) {
    .hero--2 {
    padding-top: 60px;
}
.hero--2 .lead {
    margin-bottom: 40px;
}
}.hero--3 {
    background: url(../../../assets/img/iphone-bg.jpg) center;
    background-size: cover;
}
@media (max-width:991.98px) {
    .hero--3 {
    padding: 80px 0;
}
}@media (max-width:767.98px) {
    .hero--3 {
    padding: 60px 0;
}
}.hero--3:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
}
.hero--4:before, .hero--5:before {
    content: "";
    top: 0;
    left: 0;
}
.hero--3 .hero__logo {
    margin-bottom: 65px;
    width: 80px;
    height: 80px;
}
.hero--3 .hero__iphone {
    max-width: 85%;
    float: right;
}
.hero--8 .hero__illustration img, .hero--9 .hero__illustration img {
    max-width: 100%}
.hero--4 {
    position: relative;
}
.hero--4:before {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../../../assets/img/illustration-5.png) bottom/cover no-repeat;
    opacity: .7;
}
.hero--4 .hero__logo {
    margin-bottom: 60px;
    width: 80px;
    height: 80px;
}
@media (max-width:991.98px) {
    .hero--3 .hero__iphone {
    float: none;
    margin-top: 60px;
}
.hero--4 .hero__logo {
    margin-bottom: 40px;
}
}.hero--4 .hero__form {
    padding: 50px;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    z-index: 1;
}
.hero--4 .hero__feature {
    margin-top: 30px;
}
@media (max-width:991.98px) {
    .hero--4 .hero__feature {
    margin-top: 15px;
    margin-bottom: 40px;
}
}@media (max-width:767.98px) {
    .hero--4 .hero__feature {
    margin-bottom: 30px;
}
}.hero--4 .hero__feature .icon {
    margin-bottom: 20px;
    display: block;
    color: #fff;
}
.hero--4 .hero__feature .title {
    color: #fff;
}
.hero--4 .hero__feature p {
    color: rgba(255, 255, 255, .8);
}
.hero--4 .hero__clients {
    margin-top: 60px;
}
.hero--4 .hero__clients .client__logo {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .5;
}
.hero--5 {
    position: relative;
    padding-top: 160px;
    background: -webkit-gradient(linear, left top, left bottom, from(#14014d), to(#1a3f96));
    background: linear-gradient(to bottom, #14014d 0, #1a3f96 100%);
}
@media (max-width:991.98px) {
    .hero--5 {
    padding-top: 130px;
}
}@media (max-width:767.98px) {
    .hero--5 {
    padding-top: 110px;
}
}.hero--5:before {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../../../assets/img/illustration-5.png) bottom/cover no-repeat;
    opacity: .7;
}
.hero--5 .hero__form {
    padding: 50px;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    z-index: 1;
}
.hero--5 .hero__video {
    position: relative;
    margin-top: 60px;
    border-radius: 4px;
}
@media (max-width:991.98px) {
    .hero--5 .hero__video {
    margin-top: 50px;
    margin-bottom: 30px!important;
}
}.hero--5 .hero__video .video-thumbnail {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: #202020;
    z-index: 1;
}
.hero--5 .hero__clients {
    margin-top: 65px;
}
.hero--5 .hero__clients .client__logo {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .5;
}
.hero--6 {
    padding-top: 160px;
    background: linear-gradient(to bottom, #050145 0, #7422a8 100%);
}
@media (max-width:991.98px) {
    .hero--6 {
    padding-top: 130px;
}
}@media (max-width:767.98px) {
    .hero--6 {
    padding-top: 110px;
}
}@media (max-width:575.98px) {
    .hero--6 .btn {
    width: 100%}
.hero--6 .btn.btn--primary {
    margin-bottom: 10px;
}
}.hero--7 {
    position: relative;
    padding-top: 160px;
    margin-bottom: -60px;
    background: -webkit-gradient(linear, left top, left bottom, from(#050145), to(#7422a8));
    background: linear-gradient(to bottom, #050145 0, #7422a8 100%);
}
@media (max-width:991.98px) {
    .hero--7 {
    padding-top: 130px;
}
}@media (max-width:767.98px) {
    .hero--7 {
    padding-top: 110px;
}
}.hero--7:after {
    position: absolute;
    bottom: 0;
    height: 220px;
    width: 100%;
    background: #fff;
    content: ''}
.hero--7 .hero__form {
    padding: 0 50px;
    margin-bottom: 70px;
}
.hero--7 .hero__form input {
    margin-right: 15px;
    background: rgba(99, 39, 191, .321569);
    border: none;
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, .05), inset 0 1px 2px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, .05), inset 0 1px 2px 0 rgba(0, 0, 0, .15);
    color: #fff;
}
.hero--7 .hero__form input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .8);
}
.hero--7 .hero__form input::-moz-placeholder {
    color: rgba(255, 255, 255, .8);
}
.hero--7 .hero__form input:-ms-input-placeholder {
    color: rgba(255, 255, 255, .8);
}
.hero--7 .hero__form input:-moz-placeholder {
    color: rgba(255, 255, 255, .8);
}
@media (max-width:767.98px) {
    .hero--7 .hero__form {
    padding: 0;
    margin-bottom: 50px;
}
.hero--7 .hero__form input {
    margin-bottom: 10px;
}
.hero--7 .hero__form .btn {
    width: 100%}
}.hero--7 .hero__img {
    position: relative;
    z-index: 1;
}
.hero--8 {
    position: relative;
}
@media (max-width:1199.98px) {
    .hero--8 {
    padding-top: 54px;
}
}@media (max-width:991.98px) {
    .hero--8 {
    padding-top: 0;
}
.hero--8 .container .row {
    height: auto!important;
}
}.hero--8 .hero__left {
    padding-top: 54px;
    padding-right: 50px;
}
.hero--8 .hero__illustration {
    position: absolute;
    right: 0;
    top: 54px;
    width: 50%}
@media (max-width:1199.98px) {
    .hero--8 .hero__illustration {
    top: 81px;
}
}@media (max-width:991.98px) {
    .hero--8 .hero__left {
    padding-top: 104px;
    padding-right: 0;
    text-align: center;
}
.hero--8 .hero__illustration {
    position: relative;
    top: initial;
    width: 100%;
    height: auto;
}
}.hero--9 {
    position: relative;
    background: #f1f5fd;
}
.hero--9 .hero__left {
    padding-right: 50px;
}
@media screen and (max-width:1440px) {
    .hero--9 .container .row {
    height: auto!important;
}
.hero--9 .hero__left {
    padding-top: 160px;
    padding-bottom: 130px;
}
}@media (max-width:1199.98px) {
    .hero--9 .hero__left {
    padding-right: 0;
}
}@media (max-width:991.98px) {
    .hero--9 .hero__left {
    padding-top: 134px;
    padding-bottom: 80px;
    padding-right: 15px;
}
}@media (max-width:767.98px) {
    .hero--9 .hero__left {
    padding-top: 114px;
    padding-bottom: 60px;
}
}.hero--9 .hero__illustration {
    position: absolute;
    right: 0;
    top: 54px;
    width: 57%}
@media (max-width:1360px) {
    .hero--9 .hero__illustration {
    top: 90px;
}
}@media screen and (max-width:1300px) {
    .hero--9 .hero__illustration {
    top: auto;
    bottom: 50px;
}
}@media (max-width:991.98px) {
    .hero--9 .hero__illustration {
    position: relative;
    margin: 0 auto;
    top: initial;
    width: 60%;
    height: auto;
    bottom: 20px;
}
}.hero--10 .hero__form .form-group, .hero--9 .hero__form .form-group {
    margin-bottom: 10px;
}
.hero--9 .hero__subtle-radius {
    position: absolute;
    left: 0;
    width: 100%;
    height: 73px;
    bottom: 0;
    background: url(../../../assets/img/border-radius.svg) bottom no-repeat;
}
.hero--9 .hero__subtle-radius>img {
    width: 100%}
.hero--10 {
    position: relative;
    padding-top: calc(54px + 80px);
    min-height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#f1f5fd));
    background: linear-gradient(to bottom, #FFF 0, #f1f5fd 100%);
}
@media (max-width:991.98px) {
    .hero--10 {
    padding-top: 110px;
}
}@media (max-width:767.98px) {
    .hero--10 {
    padding-top: 90px;
}
}.hero--10 .hero__illustration {
    margin-top: 80px;
}
.right-side {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    min-height: 720px;
}
.right-side .right-side__copyrights {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, .8);
}
.right-side__iphone {
    position: relative;
    z-index: 1;
    width: auto;
    height: 670px;
}
.right-side__video {
    position: relative;
    margin-bottom: 0;
}
@media (max-width:991.98px) {
    .hero--10 .hero__illustration {
    margin-top: 60px;
}
.right-side__video {
    padding: 80px 0;
    margin-top: 80px;
    background: -webkit-gradient(linear, left top, left bottom, from(#14014d), to(#1a3f96));
    background: linear-gradient(to bottom, #14014d 0, #1a3f96 100%);
}
}@media (max-width:767.98px) {
    .right-side__video {
    padding: 60px 0;
    margin-top: 60px;
}
}.right-side__video video {
    position: absolute;
    top: 0;
    margin-top: 20px;
    height: 631px;
    right: 22px;
    z-index: 1;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 31px;
}
.left-side {
    position: relative;
}
.left-side .left-side__navi {
    margin-bottom: 25px;
    width: 50%}
@media (max-width:991.98px) {
    .right-side__video video {
    margin-top: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.left-side .left-side__navi {
    position: relative!important;
    width: 100%}
}.tour--2, .tour--3 {
    position: relative;
}
.left-side .left-side__navi li {
    padding: 0 15px;
}
.features--1 .feature p {
    margin-bottom: 0;
}
.features--2 {
    padding-bottom: 80px;
}
@media (max-width:991.98px) {
    .features--2 {
    padding-top: 80px;
    padding-bottom: 30px;
}
}@media (max-width:767.98px) {
    .features--2 {
    padding-top: 60px;
    padding-bottom: 10px;
}
}.features--2 .feature {
    margin-bottom: 40px;
}
.features--2 .feature p {
    padding-right: 10px;
}
.features--3 .feature p {
    margin-bottom: 0;
}
.features--4 .feature {
    text-align: center;
}
.features--4 .feature .feature__illustration {
    margin-bottom: 30px;
    width: 200px;
    height: auto;
}
.features--4 .feature p {
    padding: 0 30px;
    margin-bottom: 0;
}
.tour--1 .preamble {
    margin-bottom: 32px;
}
.tour--2 {
    -webkit-transform: translateY(120px);
    transform: translateY(120px);
}
.tour--2 .market-btn {
    margin-top: 20px;
}
.tour--3 {
    background: #222;
}
@media (max-width:991.98px) {
    .features--4 .feature .feature__illustration {
    width: 160px;
}
.features--4 .feature p {
    padding: 0 15px;
}
.tour--2 {
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
}
.tour--3 {
    padding-bottom: 0;
}
}.tour--3 .preamble {
    margin-bottom: 36px;
}
.tour--3 .tour__form .form-control {
    background: rgba(255, 255, 255, .1);
    border-color: transparent;
    color: #fff;
}
.tour--4, .tour--5 .tour__illustration {
    background-repeat: no-repeat;
    background-size: cover;
}
.tour--3 .tour__form .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .6);
}
.tour--3 .tour__form .form-control::-moz-placeholder {
    color: rgba(255, 255, 255, .6);
}
.tour--3 .tour__form .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, .6);
}
.tour--3 .tour__form .form-control:-moz-placeholder {
    color: rgba(255, 255, 255, .6);
}
.tour--3 .tour__thumbnail {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-position: top;
    background-size: cover;
    z-index: 1;
}
.tour--4, .tour--5 {
    position: relative;
}
.tour--4 {
    height: 900px;
    background-position: center;
}
@media (max-width:1199.98px) {
    .tour--4 {
    height: 650px;
}
}@media (max-width:991.98px) {
    .tour--3 .tour__thumbnail {
    position: relative;
    width: 100%;
    margin-top: 60px;
}
.tour--3 .tour__thumbnail:before {
    padding-top: 56.25%;
    display: block;
    content: ""}
.tour--4 {
    height: 550px;
}
}.tour--5 {
    padding: 120px 0 90px;
    margin-top: 120px;
}
@media (max-width:991.98px) {
    .tour--5 {
    padding-bottom: 0;
    padding-top: 40px;
    margin-top: 0;
}
}@media (max-width:767.98px) {
    .tour--2 {
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
}
.tour--5 {
    padding-top: 60px;
}
}.tour--5 .tour__illustration {
    position: absolute;
    padding: 5px;
    right: 0;
    top: calc(50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: calc(100% - 10px);
    width: 50%;
    background-position: top left;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.testimonials--1 .testimonials__next-button, .testimonials--3 .testimonials__next-button {
    right: 15px;
}
.tour--5 .tour__illustration-mobile {
    margin-bottom: 30px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    border-radius: 4px;
}
.tour--5 .preamble {
    margin-bottom: 60px;
}
@media (max-width:991.98px) {
    .tour--5 .preamble {
    margin-bottom: 40px;
}
}.tour--5 .feature {
    margin-bottom: 30px;
}
.tour--5 .feature p {
    padding-right: 20px;
}
.tour--5 .feature .icon {
    margin-bottom: 1rem;
    display: block;
    color: #007aff;
}
.tour--6 {
    position: relative;
    padding: 240px 0 90px;
    background: #f5f5f5;
}
@media (max-width:991.98px) {
    .tour--6 {
    padding-bottom: 30px;
    padding-top: 20px;
    margin-top: 0;
}
}@media (max-width:767.98px) {
    .tour--6 {
    padding-bottom: 10px;
}
}.tour--6 .tour__illustration {
    position: absolute;
    left: 0;
    top: calc(120px + 49%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: calc(100% - 10px);
    width: 50%;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.tour--6 .tour__illustration-mobile {
    margin-bottom: 30px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    border-radius: 4px;
}
.tour--6 .preamble {
    margin-bottom: 60px;
}
@media (max-width:991.98px) {
    .tour--6 .preamble {
    margin-bottom: 40px;
}
}.tour--6 .feature {
    margin-bottom: 30px;
}
.tour--6 .feature p {
    padding-right: 20px;
}
.tour--6 .feature .icon {
    margin-bottom: 1rem;
    display: block;
    font-size: 2.25rem;
    color: #007aff;
}
.tour--7 .tour-card {
    padding: 40px 0;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(240, 246, 255, .65);
}
.tour--7 .tour-card .title {
    margin-top: 15px;
    font-size: 36px;
}
.tour--7 .tour-card p {
    margin-bottom: 0;
}
.tour--7 .tour-card .btn {
    margin-top: 30px;
}
.tour--7 .tour-card .tour-card__padding {
    padding: 0 60px;
    margin-top: auto;
}
.tour--8 .features-list li {
    margin-bottom: 25px;
}
.tour--8 .features-list li:last-child, .tour--8 .features-list li:last-child p {
    margin-bottom: 0;
}
.tour--8 .features-list li .icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45px;
    flex: 0 0 45px;
    color: #007aff;
    font-size: 2.8rem;
}
.tour--9 .tour__video {
    position: relative;
    border-radius: 4px;
}
.tour--9 .tour__video .video-thumbnail {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-color: #202020;
    z-index: 1;
}
.testimonials--1 .testimonials__prev-button, .testimonials--3 .testimonials__prev-button {
    left: 15px;
}
.testimonials--1 {
    background: #222;
}
.testimonials--1 .preamble {
    margin-bottom: 30px;
}
.testimonials--1 .row {
    position: relative;
}
.testimonials--1 .testimonials__button {
    position: absolute;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 48%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 99;
}
.testimonials--3, .testimonials--3 .row {
    position: relative;
}
.testimonials--1 .testimonials__button svg {
    width: 28px;
    height: 28px;
}
.testimonials--1 .testimonials__button .arrow {
    fill: rgba(255, 255, 255, .6);
}
.testimonials--1 .testimonials__button:hover .arrow {
    fill: #fff;
}
.testimonials--1 blockquote {
    padding: 0 15px;
    margin-bottom: 0;
    text-align: center;
}
.testimonials--1 blockquote .blockquote-avatar {
    margin: 0 auto 20px;
    width: 72px!important;
    height: 72px;
    border-radius: 50%}
.testimonials--1 blockquote .blockquote-footer {
    margin-top: 35px;
}
.testimonials--1 blockquote .blockquote-footer:before {
    display: none;
}
.testimonials--1 blockquote .blockquote-footer .blockquote-author {
    margin-bottom: 3px;
    color: #fff;
}
.testimonials--1 blockquote .blockquote-footer .blockquote-author-position {
    margin-bottom: 0;
    color: rgba(255, 255, 255, .8);
}
.testimonials--2 .testimonial {
    padding: 35px 46px;
    background: #f5f5f5;
    border-radius: 4px;
}
.testimonials--2 .testimonial .testimonial__avatar {
    margin-bottom: 25px;
    width: 120px;
    height: 120px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%}
.testimonials--2 .testimonial .testimonial__author {
    margin-bottom: 25px;
}
.testimonials--2 .testimonial .testimonial__position {
    font-style: italic;
}
.testimonials--3 {
    background: #222;
}
.testimonials--3 .testimonial__image {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}
@media (max-width:767.98px) {
    .testimonials--3 .testimonial__image {
    margin: 0 auto;
    width: 130px!important;
}
}.testimonials--3 .testimonials__button {
    position: absolute;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 48%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 99;
}
.testimonials--3 .testimonials__button svg {
    width: 28px;
    height: 28px;
}
.testimonials--3 .testimonials__button .arrow {
    fill: rgba(255, 255, 255, .6);
}
.testimonials--3 .testimonials__button:hover .arrow {
    fill: #fff;
}
.testimonials--3 blockquote {
    margin-bottom: 30px;
    color: #fff;
    font-size: 28px;
    font-weight: 300;
}
.faq--2 .card .card-header .btn:after, .faq--3 .card .card-header .btn:after {
    right: 0;
    font-family: iconsmind, sans-serif;
    font-weight: 700;
}
.testimonials--3 .blockquote__author {
    margin-bottom: 5px;
    color: #fff;
}
.testimonials--3 .blockquote__position {
    color: #fff;
}
.testimonials--3 .owl-controls {
    display: none!important;
}
.pricing--1 .pricing-option {
    position: relative;
    padding: 35px 30px;
}
.pricing--1 .pricing-option--shadow {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    border-radius: 8px;
    z-index: 1;
}
@media (max-width:991.98px) {
    .pricing--1 .pricing-option {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 30px;
}
.pricing--1 .pricing-option--last {
    margin-bottom: 0;
}
.pricing--1 .pricing-option--shadow {
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 35px;
    margin-bottom: 35px;
}
}.pricing--1 .pricing-option .pricing-option__header {
    position: relative;
    text-align: center;
}
.pricing--1 .pricing-option .pricing-option__header .icon {
    margin-bottom: 30px;
    font-size: 48px;
    color: #202020;
    display: block;
}
.pricing--1 .pricing-option .pricing-option__header .price span {
    font-size: 14px;
    margin-right: 3px;
    padding-top: 3px;
}
.pricing--1 .pricing-option .pricing-option__list {
    margin-top: 25px;
    margin-bottom: 25px;
}
.pricing--1 .pricing-option .pricing-option__list li {
    padding: 10px 0;
    display: block;
    font-size: 14px;
    color: #202020;
    text-align: center;
}
.faq--2 .card .card-header .btn, .faq--3 .card .card-header .btn {
    white-space: initial;
    text-align: left;
    width: 100%;
    text-decoration: none;
}
.pricing--1 .pricing-option .pricing-option__list li.disabled {
    opacity: .4;
}
.section-sign-up--1 .preamble {
    margin-bottom: 40px;
}
.section-sign-up--1 form {
    padding: 0 40px;
}
@media (max-width:991.98px) {
    .section-sign-up--1 form {
    padding: 0;
}
}.section-sign-up--1 form input {
    margin-right: 20px;
}
@media (max-width:767.98px) {
    .section-sign-up--1 form input {
    margin-right: 0;
}
.section-sign-up--1 form .btn {
    margin-top: 10px;
    width: 100%}
}.clients--1 {
    padding: 60px 0 0;
}
.clients--1 .client__logo {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .5;
}
.faq {
    position: relative;
}
.faq--1 .question {
    margin-bottom: 60px;
}
@media (max-width:991.98px) {
    .faq--1 .question {
    margin-bottom: 40px;
}
.faq--1 .question.mb-phone-bottom {
    margin-bottom: 40px!important;
}
}.faq--1 .question p {
    margin-bottom: 0;
}
.faq--2 .card {
    margin: 0 30px 15px;
    border-radius: 4px;
}
.faq--2 .card:last-child, .faq--3 .card, .faq--3 .card:last-child {
    margin-bottom: 0;
}
.faq--2 .card .card-header {
    background: #fff;
    border-bottom: none;
}
.faq--2 .card .card-header .btn {
    padding: 8px 20px 8px 6px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    color: #202020;
}
.faq--2 .card .card-header .btn:after {
    position: absolute;
    color: #007aff;
    content: "\e644"}
.faq--2 .card .card-header .btn[aria-expanded=true]:after {
    content: "\e66c"}
.faq--2 .card .card-body {
    padding-left: 26px;
    padding-right: 52px;
    padding-top: 0;
}
.faq--3 {
    position: relative;
    padding-bottom: 220px;
}
@media (max-width:991.98px) {
    .faq--3 {
    padding-bottom: 180px;
}
}@media (max-width:767.98px) {
    .faq--2 .card {
    margin-left: 0;
    margin-right: 0;
}
.faq--3 {
    padding-bottom: 150px;
}
}.faq--3 .card {
    margin-right: 30px;
    border: none;
    background: 0 0;
}
.faq--3 .card:first-child .card-header, .faq--3 .card:first-child .card-header .btn {
    padding-top: 0;
}
.faq--3 .card .card-header {
    padding-left: 0;
    border-bottom: 1px solid #e0e0e0;
    background: 0 0;
}
.faq--3 .card .card-header .btn {
    padding: 8px 20px 8px 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    color: #202020;
}
.faq--3 .card .card-header .btn:after {
    position: absolute;
    color: #007aff;
    content: "\e644"}
.faq--3 .card .card-header .btn[aria-expanded=true]:after {
    content: "\e66c"}
.faq--3 .card .card-body {
    padding-left: 0;
    padding-bottom: 10px;
    padding-right: 52px;
}
.faq--3 .faq__illustration {
    position: absolute;
    right: 30px;
    bottom: 85px;
    width: 37%;
    top: 80px;
    background-size: cover;
    background-position: top left;
}
.faq_illustration_img{
    position: absolute;
    right: 30px;
    bottom: 85px;
    width: 37%;
    top: 80px;
    background-size: cover;
    background-position: top left
}
.cta--1 {
    position: relative;
    padding-top: 230px;
    background: -webkit-gradient(linear, left top, left bottom, from(#14014d), to(#1a3f96));
    background: linear-gradient(to bottom, #14014d 0, #1a3f96 100%);
}
.cta--1 .preamble .btn {
    margin-top: 30px;
}
.cta--1 .cta__clients-text {
    margin-bottom: 35px;
    color: rgba(255, 255, 255, .8);
}
.cta--1 .client__logo {
    opacity: .8;
}
.cta--2 {
    margin-top: -90px;
}
.cta--2 .cta__inner {
    position: relative;
    padding: 65px 120px;
    background: #0055b3;
    border-radius: 6px;
}
@media (max-width:767.98px) {
    .cta--2 .cta__inner {
    padding: 45px 65px;
}
}.cta--2 .cta__inner:before {
    position: absolute;
    left: 30px;
    top: 0;
    background: url(../../../assets/img/illustration-14.png) left center no-repeat;
    width: 300px;
    height: 100%;
    content: '';
    opacity: .3;
}
.cta--2 .cta__inner .title {
    position: relative;
    margin: 0;
    color: #fff;
}
.cta--2 .cta__inner .cta__form {
    position: relative;
}
.cta--2 .cta__inner .cta__form .form-control {
    width: 380px;
    border: none;
}
.cta--2 .cta__inner .cta__form .btn {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 16px;
    padding: 9px 17px 8px;
}
@media (max-width:991.98px) {
    .faq--3 .card {
    margin-right: 0;
}
.faq--3 .faq__illustration {
    display: none;
}
.cta--2 .cta__inner .title {
    margin-bottom: 15px;
}
.cta--2 .cta__inner .cta__form .form-control {
    width: 100%}
.cta--2 .cta__inner .cta__form .btn {
    padding: 7px 15px;
}
}@media (max-width:767.98px) {
    .cta--2 .cta__inner .cta__form .btn {
    position: relative;
    right: 0;
    width: 100%}
}#demos {
    position: relative;
    padding: 150px 0 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f5f5f5));
    background: linear-gradient(#fff, #f5f5f5);
}
#demos .title {
    margin-bottom: 50px;
    font-size: 52px;
}
#demos img {
    -webkit-box-shadow: 0 12px 60px rgba(0, 0, 0, .12);
    box-shadow: 0 12px 60px rgba(0, 0, 0, .12);
    border-radius: 4px;
}
#demos .option-link {
    margin-top: 50px;
    display: block;
    text-align: center;
}
#demos .option-link:hover {
    text-decoration: none;
}
#demos .option-link:hover .title {
    color: #007aff;
}
#demos .option-link .title {
    margin-top: 30px;
    margin-bottom: 0;
    color: #222;
    font-size: 18px;
}