<form name="confirmationForm" [formGroup]="confirmationForm" novalidate>
    <div class="otp_box">
        <table class="otp_table">
            <tr>
                <td>
                    <input formControlName="otp1" appNumberonly="true" type="tel" id="otp1" #otp1 class="otp" maxlength="1" size="1" (keyup)="next($event, otp2)" />
                </td>
                <td>
                    <input formControlName="otp2" appNumberonly="true"  type="tel" id="otp2" #otp2 class="otp" maxlength="1" size="1" (keyup)="next($event, otp3)" />
                </td>
                <td>
                    <input formControlName="otp3" appNumberonly="true"  type="tel" id="otp3" #otp3 class="otp" maxlength="1" size="1" (keyup)="next($event, otp4)" />
                </td>
                <td>
                    <input formControlName="otp4" appNumberonly="true"  type="tel" id="otp4" #otp4 class="otp" maxlength="1" size="1" (keyup)="next($event, otp5)" />
                </td>
                <td>
                    <input formControlName="otp5" appNumberonly="true"  type="tel" id="otp5" #otp5 class="otp" maxlength="1" size="1" (keyup)="next($event, otp6)" />
                </td>
                <td>
                    <input formControlName="otp6" appNumberonly="true"  type="tel" id="otp6" #otp6 class="otp" maxlength="1" size="1" (keyup)="next($event, otp6)" />
                </td>
            </tr>
        </table>
    </div>
    <!-- <button mat-flat-button matStepperNext color="accent" class="submit_button" aria-label="Confirmation" [disabled]="confirmationForm.invalid">
        Go
    </button> -->
    <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
</form>