/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./common_styles/authlayout.css";
@import "./common_styles/helper.css";

body{
	margin: 0px;
}
dl, h1, h2, h3, h4, h5, h6, ol, p, pre, ul {
    margin-top: 0;
}
address, dl, ol, p, pre, ul {
    margin-bottom: 1rem;
}
body, caption {
    text-align: left;
}
dd, h1, h2, h3, h4, h5, h6, label {
    margin-bottom: .5rem;
}
button, hr, input {
    overflow: visible;
}
pre, textarea {
    overflow: auto;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, legend, main, nav, section {
    display: block;
}
address, legend {
    line-height: inherit;
}
.badge, progress, sub, sup {
    vertical-align: baseline;
}
label, output {
    display: inline-block;
}
/*header animation*/
@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100px, 0);
        -webkit-transform: translate3d(0, -100px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-font-smoothing: antialiased;
    }
}
@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100px, 0);
        -webkit-transform: translate3d(0, -100px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-font-smoothing: antialiased;
    }
}